<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.detailList.dao.DetailListMapper">
  <resultMap id="BaseResultMap" type="com.detailList.entity.DetailList">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="detail_list_name" jdbcType="VARCHAR" property="detailListName" />
    <result column="detail_list_person" jdbcType="VARCHAR" property="detailListPerson" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, detail_list_name, detail_list_person, create_time
  </sql>
  <select id="selectDetailList" parameterType="com.detailList.entity.DetailList" resultMap="BaseResultMap">
  		select dl.id,dl.detail_list_name,CONCAT(du.NACHN,du.VORNA) as detail_list_person
		from 
		dl_detail_list dl left join zhr2_001 du on dl.detail_list_person=du.id
		<where>
			1=1
			and du.PERNR=#{detailListPerson}
			<if test="detailListName != null">
				and dl.detail_list_name like concat(concat('%',#{detailListName}),'%')
			</if>
		</where>
		order by dl.detail_list_name
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dl_detail_list
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dl_detail_list
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.detailList.entity.DetailList">
    insert into dl_detail_list (id, detail_list_name, detail_list_person, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{detailListName,jdbcType=VARCHAR}, #{detailListPerson,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" keyProperty="id" parameterType="com.detailList.entity.DetailList">
    insert into dl_detail_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="detailListName != null">
        detail_list_name,
      </if>
      <if test="detailListPerson != null">
        detail_list_person,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="detailListName != null">
        #{detailListName,jdbcType=VARCHAR},
      </if>
      <if test="detailListPerson != null">
        #{detailListPerson,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.detailList.entity.DetailList">
    update dl_detail_list
    <set>
      <if test="detailListName != null">
        detail_list_name = #{detailListName,jdbcType=VARCHAR},
      </if>
      <if test="detailListPerson != null">
        detail_list_person = #{detailListPerson,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.detailList.entity.DetailList">
    update dl_detail_list
    set detail_list_name = #{detailListName,jdbcType=VARCHAR},
      detail_list_person = #{detailListPerson,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectObDetailListByUserId" parameterType="String" resultMap="BaseResultMap">
		 select dl.* from dl_detail_observer dlo left join dl_detail_list dl on dlo.detail_list_id=dl.id
		where user_id=#{userId}
  </select>
</mapper>