<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.detailList.dao.DetailObServerMapper">
  <resultMap id="BaseResultMap" type="com.detailList.entity.DetailObServer">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="detail_list_id" jdbcType="VARCHAR" property="detailListId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="ob_user_id" jdbcType="VARCHAR" property="obUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, detail_list_id, user_id, ob_user_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dl_detail_observer
    where id = #{id,jdbcType=VARCHAR}
  </select>
	<select id="selectObUser" parameterType="java.lang.String" resultType="java.util.Map">
  	select DISTINCT dlo.user_id as userId,CONCAT(z1.NACHN,z1.VORNA) as userName from dl_detail_observer dlo left join zhr2_001 z1 on dlo.user_id=z1.PERNR
		WHERE
		1=1
		<if test="obUserId!=null and obUserId!=''">
			and dlo.ob_user_id=#{obUserId}
			and dlo.user_id!=#{obUserId}
		</if>
		<if test="userId!=null and userId!=''">
			and dlo.user_id=#{userId}
		</if>
		<if test="detailListId!=null and detailListId!=''">
			and dlo.detail_list_id=#{detailListId}
		</if>
  </select>
  <delete id="deleteByDetailListId" parameterType="java.lang.String">
    delete from dl_detail_observer
    where detail_list_id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dl_detail_observer
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.detailList.entity.DetailObServer">
    insert into dl_detail_observer (id, detail_list_id, user_id, 
      ob_user_id, create_time)
    values (#{id,jdbcType=VARCHAR}, #{detailListId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{obUserId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.detailList.entity.DetailObServer">
    insert into dl_detail_observer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="detailListId != null">
        detail_list_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="obUserId != null">
        ob_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="detailListId != null">
        #{detailListId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="obUserId != null">
        #{obUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.detailList.entity.DetailObServer">
    update dl_detail_observer
    <set>
      <if test="detailListId != null">
        detail_list_id = #{detailListId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="obUserId != null">
        ob_user_id = #{obUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.detailList.entity.DetailObServer">
    update dl_detail_observer
    set detail_list_id = #{detailListId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      ob_user_id = #{obUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>