<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.detailList.dao.DetailWorkMapper">
  <resultMap id="BaseResultMap" type="com.detailList.entity.DetailWork">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="detail_list_id" jdbcType="VARCHAR" property="detailListId" />
    <result column="work_id" jdbcType="VARCHAR" property="workId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, detail_list_id, work_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dl_detail_work
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dl_detail_work
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.detailList.entity.DetailWork">
    insert into dl_detail_work (id, detail_list_id, work_id
      )
    values (#{id,jdbcType=VARCHAR}, #{detailListId,jdbcType=VARCHAR}, #{workId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.detailList.entity.DetailWork">
    insert into dl_detail_work
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="detailListId != null">
        detail_list_id,
      </if>
      <if test="workId != null">
        work_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="detailListId != null">
        #{detailListId,jdbcType=VARCHAR},
      </if>
      <if test="workId != null">
        #{workId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.detailList.entity.DetailWork">
    update dl_detail_work
    <set>
      <if test="detailListId != null">
        detail_list_id = #{detailListId,jdbcType=VARCHAR},
      </if>
      <if test="workId != null">
        work_id = #{workId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.detailList.entity.DetailWork">
    update dl_detail_work
    set detail_list_id = #{detailListId,jdbcType=VARCHAR},
      work_id = #{workId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <delete id="deleteDetailWorkByDetailListId" parameterType="String">
  		delete from dl_detail_work
   		 where detail_list_id = #{detailListId,jdbcType=VARCHAR}
  </delete>
</mapper>