<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.detailList.dao.mergeWorkMapper">
  <resultMap id="BaseResultMap" type="com.detailList.entity.mergeWork">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="work_id" jdbcType="VARCHAR" property="workId" />
    <result column="merge_work_id" jdbcType="VARCHAR" property="mergeWorkId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, work_id, merge_work_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dl_merge_work
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dl_merge_work
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.detailList.entity.mergeWork">
    insert into dl_merge_work (id, work_id, merge_work_id
      )
    values (#{id,jdbcType=VARCHAR}, #{workId,jdbcType=VARCHAR}, #{mergeWorkId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.detailList.entity.mergeWork">
    insert into dl_merge_work
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="workId != null">
        work_id,
      </if>
      <if test="mergeWorkId != null">
        merge_work_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="workId != null">
        #{workId,jdbcType=VARCHAR},
      </if>
      <if test="mergeWorkId != null">
        #{mergeWorkId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.detailList.entity.mergeWork">
    update dl_merge_work
    <set>
      <if test="workId != null">
        work_id = #{workId,jdbcType=VARCHAR},
      </if>
      <if test="mergeWorkId != null">
        merge_work_id = #{mergeWorkId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.detailList.entity.mergeWork">
    update dl_merge_work
    set work_id = #{workId,jdbcType=VARCHAR},
      merge_work_id = #{mergeWorkId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>