<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.detailList.dao.WorkLabelMapper">
  <resultMap id="BaseResultMap" type="com.detailList.entity.WorkLabel">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="label_name" jdbcType="VARCHAR" property="labelName" />
    <result column="insert_user" jdbcType="VARCHAR" property="insertUser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, label_name,insert_user
  </sql>
  
  <select id="selectWorkLabel" parameterType="com.detailList.entity.WorkLabel" resultMap="BaseResultMap">
    select 
    dwl.id,dwl.label_name,CONCAT(z1.NACHN,z1.VORNA) as insert_user
    from dl_work_label dwl left join zhr2_001 z1 on dwl.insert_user=z1.PERNR
    <where>
    	1=1
    	<if test="labelName!=null">
	    	and label_name like concat(concat('%',#{labelName}),'%') 
    	</if>
    	<if test="insertUser!=null">
    		and insert_user=#{inserUser}
    	</if>
    </where>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dl_work_label
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dl_work_label
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.detailList.entity.WorkLabel">
    insert into dl_work_label (id, label_name,insert_user)
    values (#{id,jdbcType=VARCHAR}, #{labelName,jdbcType=VARCHAR},#{insertUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.detailList.entity.WorkLabel">
    insert into dl_work_label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="labelName != null">
        label_name,
      </if>
      <if test="insertUser != null">
        insert_user
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="labelName != null">
        #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="insertUser != null">
        #{insertUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.detailList.entity.WorkLabel">
    update dl_work_label
    <set>
      <if test="labelName != null">
        label_name = #{labelName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.detailList.entity.WorkLabel">
    update dl_work_label
    set label_name = #{labelName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>