<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.detailList.dao.WorkTypeRelationMapper">
  <resultMap id="BaseResultMap" type="com.detailList.entity.WorkTypeRelation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="work_type_id" jdbcType="VARCHAR" property="workTypeId" />
    <result column="work_id" jdbcType="VARCHAR" property="workId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, work_type_id, work_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dl_work_type_relation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dl_work_type_relation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.detailList.entity.WorkTypeRelation">
    insert into dl_work_type_relation (id, work_type_id, work_id
      )
    values (#{id,jdbcType=VARCHAR}, #{workTypeId,jdbcType=VARCHAR}, #{workId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.detailList.entity.WorkTypeRelation">
    insert into dl_work_type_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="workTypeId != null">
        work_type_id,
      </if>
      <if test="workId != null">
        work_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="workTypeId != null">
        #{workTypeId,jdbcType=VARCHAR},
      </if>
      <if test="workId != null">
        #{workId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.detailList.entity.WorkTypeRelation">
    update dl_work_type_relation
    <set>
      <if test="workTypeId != null">
        work_type_id = #{workTypeId,jdbcType=VARCHAR},
      </if>
      <if test="workId != null">
        work_id = #{workId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.detailList.entity.WorkTypeRelation">
    update dl_work_type_relation
    set work_type_id = #{workTypeId,jdbcType=VARCHAR},
      work_id = #{workId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <delete id="deleteWorkTypeRelationByDeatailListId" parameterType="String">
  		delete from dl_work_type_relation where id in(
			select * from (
			select dwtr.id from dl_work_type dwt left join dl_work_type_relation dwtr on dwt.id=dwtr.work_type_id
			where
			dwt.detail_list_id=#{detailListId})as t) ;
  </delete>
</mapper>