<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.detailList.dao.Zhr2001Mapper">
  <resultMap id="BaseResultMap" type="com.detailList.entity.Zhr2001">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="PERNR" jdbcType="VARCHAR" property="pernr" />
    <result column="WERKS" jdbcType="VARCHAR" property="werks" />
    <result column="BTRTL" jdbcType="VARCHAR" property="btrtl" />
    <result column="PERSG" jdbcType="VARCHAR" property="persg" />
    <result column="PERSK" jdbcType="VARCHAR" property="persk" />
    <result column="ABKRS" jdbcType="VARCHAR" property="abkrs" />
    <result column="PLANS" jdbcType="VARCHAR" property="plans" />
    <result column="ORGEH" jdbcType="VARCHAR" property="orgeh" />
    <result column="NACHN" jdbcType="VARCHAR" property="nachn" />
    <result column="VORNA" jdbcType="VARCHAR" property="vorna" />
    <result column="GBDAT" jdbcType="VARCHAR" property="gbdat" />
    <result column="GESCH" jdbcType="CHAR" property="gesch" />
    <result column="DAT01" jdbcType="VARCHAR" property="dat01" />
    <result column="GBDEP" jdbcType="VARCHAR" property="gbdep" />
    <result column="LOCAT" jdbcType="VARCHAR" property="locat" />
    <result column="FAMST" jdbcType="VARCHAR" property="famst" />
    <result column="SLART" jdbcType="VARCHAR" property="slart" />
    <result column="ZXXXX" jdbcType="VARCHAR" property="zxxxx" />
    <result column="ZSXZY" jdbcType="VARCHAR" property="zsxzy" />
    <result column="USRID_5" jdbcType="VARCHAR" property="usrid5" />
    <result column="POSTY" jdbcType="VARCHAR" property="posty" />
    <result column="POSNC" jdbcType="VARCHAR" property="posnc" />
    <result column="ORGEH_1" jdbcType="VARCHAR" property="orgeh1" />
    <result column="ORGEH_2" jdbcType="VARCHAR" property="orgeh2" />
    <result column="ORGEH_3" jdbcType="VARCHAR" property="orgeh3" />
    <result column="USRID_3" jdbcType="VARCHAR" property="usrid3" />
    <result column="GBLND" jdbcType="VARCHAR" property="gblnd" />
    <result column="INSTI" jdbcType="VARCHAR" property="insti" />
    <result column="GBORT" jdbcType="VARCHAR" property="gbort" />
    <result column="ZLPOS" jdbcType="VARCHAR" property="zlpos" />
    <result column="ZPOSTY" jdbcType="VARCHAR" property="zposty" />
    <result column="ZTDETAIL" jdbcType="VARCHAR" property="ztdetail" />
    <result column="ICNUM" jdbcType="VARCHAR" property="icnum" />
    <result column="ZBMCJ" jdbcType="VARCHAR" property="zbmcj" />
    <result column="DATUM" jdbcType="VARCHAR" property="datum" />
    <result column="ZDATE" jdbcType="VARCHAR" property="zdate" />
    <result column="USRID_4" jdbcType="VARCHAR" property="usrid4" />
    <result column="RACKY" jdbcType="VARCHAR" property="racky" />
    <result column="PCODE" jdbcType="VARCHAR" property="pcode" />
    <result column="DAT02" jdbcType="VARCHAR" property="dat02" />
    <result column="ZGCLB" jdbcType="VARCHAR" property="zgclb" />
    <result column="ORGEH_4" jdbcType="VARCHAR" property="orgeh4" />
    <result column="ORGEH_5" jdbcType="VARCHAR" property="orgeh5" />
    <result column="ORGEH_6" jdbcType="VARCHAR" property="orgeh6" />
    <result column="NATIO" jdbcType="VARCHAR" property="natio" />
    <result column="AUTH1" jdbcType="VARCHAR" property="auth1" />
    <result column="POSSC" jdbcType="VARCHAR" property="possc" />
    <result column="TERMN" jdbcType="VARCHAR" property="termn" />
    <result column="RUFNM" jdbcType="VARCHAR" property="rufnm" />
    <result column="BEZEI" jdbcType="VARCHAR" property="bezei" />
  </resultMap>
  <sql id="Base_Column_List">
    id, PERNR, WERKS, BTRTL, PERSG, PERSK, ABKRS, PLANS, ORGEH, NACHN, VORNA, GBDAT, 
    GESCH, DAT01, GBDEP, LOCAT, FAMST, SLART, ZXXXX, ZSXZY, USRID_5, POSTY, POSNC, ORGEH_1, 
    ORGEH_2, ORGEH_3, USRID_3, GBLND, INSTI, GBORT, ZLPOS, ZPOSTY, ZTDETAIL, ICNUM, ZBMCJ, 
    DATUM, ZDATE, USRID_4, RACKY, PCODE, DAT02, ZGCLB, ORGEH_4, ORGEH_5, ORGEH_6, NATIO, 
    AUTH1, POSSC, TERMN, RUFNM, BEZEI
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zhr2_001
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectPersonInfo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    DISTINCT
    i.id,i.PERNR,i.WERKS,i.BTRTL,i.PERSG,i.PERSK,i.ABKRS,i.PLANS,o.STEXT as ORGEH,i.NACHN,i.VORNA,i.GBDAT,i.
    GESCH,i.DAT01,i.GBDEP,i.LOCAT,i.FAMST,i.SLART,i.ZXXXX,i.ZSXZY,i.USRID_5,i.POSTY,i.POSNC,i.ORGEH_1,i.
    ORGEH_2,i.ORGEH_3,i.USRID_3,i.GBLND,i.INSTI,i.GBORT,i.ZLPOS,i.ZPOSTY,i.ZTDETAIL,i.ICNUM,i.ZBMCJ,i.
    DATUM,i.ZDATE,i.USRID_4,i.RACKY,i.PCODE,i.DAT02,i.ZGCLB,i.ORGEH_4,i.ORGEH_5,i.ORGEH_6,i.NATIO,i.
    AUTH1,i.POSSC,i.TERMN,i.RUFNM,i.BEZEI
    from zhr2_001 i left join zhr2_002 o on i.ORGEH=o.orgeh
    <where>
    	1=1
    	<if test="personInfo!=null and personInfo!=''">
    		and pernr like concat(concat('%',#{personInfo}),'%') 
	    	or plans like concat(concat('%',#{personInfo}),'%')
	    	or concat(nachn,vorna) like concat(concat('%',#{personInfo}),'%')
    	</if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zhr2_001
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.detailList.entity.Zhr2001">
    insert into zhr2_001 (id, PERNR, WERKS, 
      BTRTL, PERSG, PERSK, 
      ABKRS, PLANS, ORGEH, 
      NACHN, VORNA, GBDAT, 
      GESCH, DAT01, GBDEP, LOCAT, 
      FAMST, SLART, ZXXXX, 
      ZSXZY, USRID_5, POSTY, 
      POSNC, ORGEH_1, ORGEH_2, 
      ORGEH_3, USRID_3, GBLND, 
      INSTI, GBORT, ZLPOS, 
      ZPOSTY, ZTDETAIL, ICNUM, 
      ZBMCJ, DATUM, ZDATE, 
      USRID_4, RACKY, PCODE, 
      DAT02, ZGCLB, ORGEH_4, 
      ORGEH_5, ORGEH_6, NATIO, 
      AUTH1, POSSC, TERMN, 
      RUFNM, BEZEI)
    values (#{id,jdbcType=INTEGER}, #{pernr,jdbcType=VARCHAR}, #{werks,jdbcType=VARCHAR}, 
      #{btrtl,jdbcType=VARCHAR}, #{persg,jdbcType=VARCHAR}, #{persk,jdbcType=VARCHAR}, 
      #{abkrs,jdbcType=VARCHAR}, #{plans,jdbcType=VARCHAR}, #{orgeh,jdbcType=VARCHAR}, 
      #{nachn,jdbcType=VARCHAR}, #{vorna,jdbcType=VARCHAR}, #{gbdat,jdbcType=VARCHAR}, 
      #{gesch,jdbcType=CHAR}, #{dat01,jdbcType=VARCHAR}, #{gbdep,jdbcType=VARCHAR}, #{locat,jdbcType=VARCHAR}, 
      #{famst,jdbcType=VARCHAR}, #{slart,jdbcType=VARCHAR}, #{zxxxx,jdbcType=VARCHAR}, 
      #{zsxzy,jdbcType=VARCHAR}, #{usrid5,jdbcType=VARCHAR}, #{posty,jdbcType=VARCHAR}, 
      #{posnc,jdbcType=VARCHAR}, #{orgeh1,jdbcType=VARCHAR}, #{orgeh2,jdbcType=VARCHAR}, 
      #{orgeh3,jdbcType=VARCHAR}, #{usrid3,jdbcType=VARCHAR}, #{gblnd,jdbcType=VARCHAR}, 
      #{insti,jdbcType=VARCHAR}, #{gbort,jdbcType=VARCHAR}, #{zlpos,jdbcType=VARCHAR}, 
      #{zposty,jdbcType=VARCHAR}, #{ztdetail,jdbcType=VARCHAR}, #{icnum,jdbcType=VARCHAR}, 
      #{zbmcj,jdbcType=VARCHAR}, #{datum,jdbcType=VARCHAR}, #{zdate,jdbcType=VARCHAR}, 
      #{usrid4,jdbcType=VARCHAR}, #{racky,jdbcType=VARCHAR}, #{pcode,jdbcType=VARCHAR}, 
      #{dat02,jdbcType=VARCHAR}, #{zgclb,jdbcType=VARCHAR}, #{orgeh4,jdbcType=VARCHAR}, 
      #{orgeh5,jdbcType=VARCHAR}, #{orgeh6,jdbcType=VARCHAR}, #{natio,jdbcType=VARCHAR}, 
      #{auth1,jdbcType=VARCHAR}, #{possc,jdbcType=VARCHAR}, #{termn,jdbcType=VARCHAR}, 
      #{rufnm,jdbcType=VARCHAR}, #{bezei,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.detailList.entity.Zhr2001">
    insert into zhr2_001
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pernr != null">
        PERNR,
      </if>
      <if test="werks != null">
        WERKS,
      </if>
      <if test="btrtl != null">
        BTRTL,
      </if>
      <if test="persg != null">
        PERSG,
      </if>
      <if test="persk != null">
        PERSK,
      </if>
      <if test="abkrs != null">
        ABKRS,
      </if>
      <if test="plans != null">
        PLANS,
      </if>
      <if test="orgeh != null">
        ORGEH,
      </if>
      <if test="nachn != null">
        NACHN,
      </if>
      <if test="vorna != null">
        VORNA,
      </if>
      <if test="gbdat != null">
        GBDAT,
      </if>
      <if test="gesch != null">
        GESCH,
      </if>
      <if test="dat01 != null">
        DAT01,
      </if>
      <if test="gbdep != null">
        GBDEP,
      </if>
      <if test="locat != null">
        LOCAT,
      </if>
      <if test="famst != null">
        FAMST,
      </if>
      <if test="slart != null">
        SLART,
      </if>
      <if test="zxxxx != null">
        ZXXXX,
      </if>
      <if test="zsxzy != null">
        ZSXZY,
      </if>
      <if test="usrid5 != null">
        USRID_5,
      </if>
      <if test="posty != null">
        POSTY,
      </if>
      <if test="posnc != null">
        POSNC,
      </if>
      <if test="orgeh1 != null">
        ORGEH_1,
      </if>
      <if test="orgeh2 != null">
        ORGEH_2,
      </if>
      <if test="orgeh3 != null">
        ORGEH_3,
      </if>
      <if test="usrid3 != null">
        USRID_3,
      </if>
      <if test="gblnd != null">
        GBLND,
      </if>
      <if test="insti != null">
        INSTI,
      </if>
      <if test="gbort != null">
        GBORT,
      </if>
      <if test="zlpos != null">
        ZLPOS,
      </if>
      <if test="zposty != null">
        ZPOSTY,
      </if>
      <if test="ztdetail != null">
        ZTDETAIL,
      </if>
      <if test="icnum != null">
        ICNUM,
      </if>
      <if test="zbmcj != null">
        ZBMCJ,
      </if>
      <if test="datum != null">
        DATUM,
      </if>
      <if test="zdate != null">
        ZDATE,
      </if>
      <if test="usrid4 != null">
        USRID_4,
      </if>
      <if test="racky != null">
        RACKY,
      </if>
      <if test="pcode != null">
        PCODE,
      </if>
      <if test="dat02 != null">
        DAT02,
      </if>
      <if test="zgclb != null">
        ZGCLB,
      </if>
      <if test="orgeh4 != null">
        ORGEH_4,
      </if>
      <if test="orgeh5 != null">
        ORGEH_5,
      </if>
      <if test="orgeh6 != null">
        ORGEH_6,
      </if>
      <if test="natio != null">
        NATIO,
      </if>
      <if test="auth1 != null">
        AUTH1,
      </if>
      <if test="possc != null">
        POSSC,
      </if>
      <if test="termn != null">
        TERMN,
      </if>
      <if test="rufnm != null">
        RUFNM,
      </if>
      <if test="bezei != null">
        BEZEI,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pernr != null">
        #{pernr,jdbcType=VARCHAR},
      </if>
      <if test="werks != null">
        #{werks,jdbcType=VARCHAR},
      </if>
      <if test="btrtl != null">
        #{btrtl,jdbcType=VARCHAR},
      </if>
      <if test="persg != null">
        #{persg,jdbcType=VARCHAR},
      </if>
      <if test="persk != null">
        #{persk,jdbcType=VARCHAR},
      </if>
      <if test="abkrs != null">
        #{abkrs,jdbcType=VARCHAR},
      </if>
      <if test="plans != null">
        #{plans,jdbcType=VARCHAR},
      </if>
      <if test="orgeh != null">
        #{orgeh,jdbcType=VARCHAR},
      </if>
      <if test="nachn != null">
        #{nachn,jdbcType=VARCHAR},
      </if>
      <if test="vorna != null">
        #{vorna,jdbcType=VARCHAR},
      </if>
      <if test="gbdat != null">
        #{gbdat,jdbcType=VARCHAR},
      </if>
      <if test="gesch != null">
        #{gesch,jdbcType=CHAR},
      </if>
      <if test="dat01 != null">
        #{dat01,jdbcType=VARCHAR},
      </if>
      <if test="gbdep != null">
        #{gbdep,jdbcType=VARCHAR},
      </if>
      <if test="locat != null">
        #{locat,jdbcType=VARCHAR},
      </if>
      <if test="famst != null">
        #{famst,jdbcType=VARCHAR},
      </if>
      <if test="slart != null">
        #{slart,jdbcType=VARCHAR},
      </if>
      <if test="zxxxx != null">
        #{zxxxx,jdbcType=VARCHAR},
      </if>
      <if test="zsxzy != null">
        #{zsxzy,jdbcType=VARCHAR},
      </if>
      <if test="usrid5 != null">
        #{usrid5,jdbcType=VARCHAR},
      </if>
      <if test="posty != null">
        #{posty,jdbcType=VARCHAR},
      </if>
      <if test="posnc != null">
        #{posnc,jdbcType=VARCHAR},
      </if>
      <if test="orgeh1 != null">
        #{orgeh1,jdbcType=VARCHAR},
      </if>
      <if test="orgeh2 != null">
        #{orgeh2,jdbcType=VARCHAR},
      </if>
      <if test="orgeh3 != null">
        #{orgeh3,jdbcType=VARCHAR},
      </if>
      <if test="usrid3 != null">
        #{usrid3,jdbcType=VARCHAR},
      </if>
      <if test="gblnd != null">
        #{gblnd,jdbcType=VARCHAR},
      </if>
      <if test="insti != null">
        #{insti,jdbcType=VARCHAR},
      </if>
      <if test="gbort != null">
        #{gbort,jdbcType=VARCHAR},
      </if>
      <if test="zlpos != null">
        #{zlpos,jdbcType=VARCHAR},
      </if>
      <if test="zposty != null">
        #{zposty,jdbcType=VARCHAR},
      </if>
      <if test="ztdetail != null">
        #{ztdetail,jdbcType=VARCHAR},
      </if>
      <if test="icnum != null">
        #{icnum,jdbcType=VARCHAR},
      </if>
      <if test="zbmcj != null">
        #{zbmcj,jdbcType=VARCHAR},
      </if>
      <if test="datum != null">
        #{datum,jdbcType=VARCHAR},
      </if>
      <if test="zdate != null">
        #{zdate,jdbcType=VARCHAR},
      </if>
      <if test="usrid4 != null">
        #{usrid4,jdbcType=VARCHAR},
      </if>
      <if test="racky != null">
        #{racky,jdbcType=VARCHAR},
      </if>
      <if test="pcode != null">
        #{pcode,jdbcType=VARCHAR},
      </if>
      <if test="dat02 != null">
        #{dat02,jdbcType=VARCHAR},
      </if>
      <if test="zgclb != null">
        #{zgclb,jdbcType=VARCHAR},
      </if>
      <if test="orgeh4 != null">
        #{orgeh4,jdbcType=VARCHAR},
      </if>
      <if test="orgeh5 != null">
        #{orgeh5,jdbcType=VARCHAR},
      </if>
      <if test="orgeh6 != null">
        #{orgeh6,jdbcType=VARCHAR},
      </if>
      <if test="natio != null">
        #{natio,jdbcType=VARCHAR},
      </if>
      <if test="auth1 != null">
        #{auth1,jdbcType=VARCHAR},
      </if>
      <if test="possc != null">
        #{possc,jdbcType=VARCHAR},
      </if>
      <if test="termn != null">
        #{termn,jdbcType=VARCHAR},
      </if>
      <if test="rufnm != null">
        #{rufnm,jdbcType=VARCHAR},
      </if>
      <if test="bezei != null">
        #{bezei,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.detailList.entity.Zhr2001">
    update zhr2_001
    <set>
      <if test="pernr != null">
        PERNR = #{pernr,jdbcType=VARCHAR},
      </if>
      <if test="werks != null">
        WERKS = #{werks,jdbcType=VARCHAR},
      </if>
      <if test="btrtl != null">
        BTRTL = #{btrtl,jdbcType=VARCHAR},
      </if>
      <if test="persg != null">
        PERSG = #{persg,jdbcType=VARCHAR},
      </if>
      <if test="persk != null">
        PERSK = #{persk,jdbcType=VARCHAR},
      </if>
      <if test="abkrs != null">
        ABKRS = #{abkrs,jdbcType=VARCHAR},
      </if>
      <if test="plans != null">
        PLANS = #{plans,jdbcType=VARCHAR},
      </if>
      <if test="orgeh != null">
        ORGEH = #{orgeh,jdbcType=VARCHAR},
      </if>
      <if test="nachn != null">
        NACHN = #{nachn,jdbcType=VARCHAR},
      </if>
      <if test="vorna != null">
        VORNA = #{vorna,jdbcType=VARCHAR},
      </if>
      <if test="gbdat != null">
        GBDAT = #{gbdat,jdbcType=VARCHAR},
      </if>
      <if test="gesch != null">
        GESCH = #{gesch,jdbcType=CHAR},
      </if>
      <if test="dat01 != null">
        DAT01 = #{dat01,jdbcType=VARCHAR},
      </if>
      <if test="gbdep != null">
        GBDEP = #{gbdep,jdbcType=VARCHAR},
      </if>
      <if test="locat != null">
        LOCAT = #{locat,jdbcType=VARCHAR},
      </if>
      <if test="famst != null">
        FAMST = #{famst,jdbcType=VARCHAR},
      </if>
      <if test="slart != null">
        SLART = #{slart,jdbcType=VARCHAR},
      </if>
      <if test="zxxxx != null">
        ZXXXX = #{zxxxx,jdbcType=VARCHAR},
      </if>
      <if test="zsxzy != null">
        ZSXZY = #{zsxzy,jdbcType=VARCHAR},
      </if>
      <if test="usrid5 != null">
        USRID_5 = #{usrid5,jdbcType=VARCHAR},
      </if>
      <if test="posty != null">
        POSTY = #{posty,jdbcType=VARCHAR},
      </if>
      <if test="posnc != null">
        POSNC = #{posnc,jdbcType=VARCHAR},
      </if>
      <if test="orgeh1 != null">
        ORGEH_1 = #{orgeh1,jdbcType=VARCHAR},
      </if>
      <if test="orgeh2 != null">
        ORGEH_2 = #{orgeh2,jdbcType=VARCHAR},
      </if>
      <if test="orgeh3 != null">
        ORGEH_3 = #{orgeh3,jdbcType=VARCHAR},
      </if>
      <if test="usrid3 != null">
        USRID_3 = #{usrid3,jdbcType=VARCHAR},
      </if>
      <if test="gblnd != null">
        GBLND = #{gblnd,jdbcType=VARCHAR},
      </if>
      <if test="insti != null">
        INSTI = #{insti,jdbcType=VARCHAR},
      </if>
      <if test="gbort != null">
        GBORT = #{gbort,jdbcType=VARCHAR},
      </if>
      <if test="zlpos != null">
        ZLPOS = #{zlpos,jdbcType=VARCHAR},
      </if>
      <if test="zposty != null">
        ZPOSTY = #{zposty,jdbcType=VARCHAR},
      </if>
      <if test="ztdetail != null">
        ZTDETAIL = #{ztdetail,jdbcType=VARCHAR},
      </if>
      <if test="icnum != null">
        ICNUM = #{icnum,jdbcType=VARCHAR},
      </if>
      <if test="zbmcj != null">
        ZBMCJ = #{zbmcj,jdbcType=VARCHAR},
      </if>
      <if test="datum != null">
        DATUM = #{datum,jdbcType=VARCHAR},
      </if>
      <if test="zdate != null">
        ZDATE = #{zdate,jdbcType=VARCHAR},
      </if>
      <if test="usrid4 != null">
        USRID_4 = #{usrid4,jdbcType=VARCHAR},
      </if>
      <if test="racky != null">
        RACKY = #{racky,jdbcType=VARCHAR},
      </if>
      <if test="pcode != null">
        PCODE = #{pcode,jdbcType=VARCHAR},
      </if>
      <if test="dat02 != null">
        DAT02 = #{dat02,jdbcType=VARCHAR},
      </if>
      <if test="zgclb != null">
        ZGCLB = #{zgclb,jdbcType=VARCHAR},
      </if>
      <if test="orgeh4 != null">
        ORGEH_4 = #{orgeh4,jdbcType=VARCHAR},
      </if>
      <if test="orgeh5 != null">
        ORGEH_5 = #{orgeh5,jdbcType=VARCHAR},
      </if>
      <if test="orgeh6 != null">
        ORGEH_6 = #{orgeh6,jdbcType=VARCHAR},
      </if>
      <if test="natio != null">
        NATIO = #{natio,jdbcType=VARCHAR},
      </if>
      <if test="auth1 != null">
        AUTH1 = #{auth1,jdbcType=VARCHAR},
      </if>
      <if test="possc != null">
        POSSC = #{possc,jdbcType=VARCHAR},
      </if>
      <if test="termn != null">
        TERMN = #{termn,jdbcType=VARCHAR},
      </if>
      <if test="rufnm != null">
        RUFNM = #{rufnm,jdbcType=VARCHAR},
      </if>
      <if test="bezei != null">
        BEZEI = #{bezei,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.detailList.entity.Zhr2001">
    update zhr2_001
    set PERNR = #{pernr,jdbcType=VARCHAR},
      WERKS = #{werks,jdbcType=VARCHAR},
      BTRTL = #{btrtl,jdbcType=VARCHAR},
      PERSG = #{persg,jdbcType=VARCHAR},
      PERSK = #{persk,jdbcType=VARCHAR},
      ABKRS = #{abkrs,jdbcType=VARCHAR},
      PLANS = #{plans,jdbcType=VARCHAR},
      ORGEH = #{orgeh,jdbcType=VARCHAR},
      NACHN = #{nachn,jdbcType=VARCHAR},
      VORNA = #{vorna,jdbcType=VARCHAR},
      GBDAT = #{gbdat,jdbcType=VARCHAR},
      GESCH = #{gesch,jdbcType=CHAR},
      DAT01 = #{dat01,jdbcType=VARCHAR},
      GBDEP = #{gbdep,jdbcType=VARCHAR},
      LOCAT = #{locat,jdbcType=VARCHAR},
      FAMST = #{famst,jdbcType=VARCHAR},
      SLART = #{slart,jdbcType=VARCHAR},
      ZXXXX = #{zxxxx,jdbcType=VARCHAR},
      ZSXZY = #{zsxzy,jdbcType=VARCHAR},
      USRID_5 = #{usrid5,jdbcType=VARCHAR},
      POSTY = #{posty,jdbcType=VARCHAR},
      POSNC = #{posnc,jdbcType=VARCHAR},
      ORGEH_1 = #{orgeh1,jdbcType=VARCHAR},
      ORGEH_2 = #{orgeh2,jdbcType=VARCHAR},
      ORGEH_3 = #{orgeh3,jdbcType=VARCHAR},
      USRID_3 = #{usrid3,jdbcType=VARCHAR},
      GBLND = #{gblnd,jdbcType=VARCHAR},
      INSTI = #{insti,jdbcType=VARCHAR},
      GBORT = #{gbort,jdbcType=VARCHAR},
      ZLPOS = #{zlpos,jdbcType=VARCHAR},
      ZPOSTY = #{zposty,jdbcType=VARCHAR},
      ZTDETAIL = #{ztdetail,jdbcType=VARCHAR},
      ICNUM = #{icnum,jdbcType=VARCHAR},
      ZBMCJ = #{zbmcj,jdbcType=VARCHAR},
      DATUM = #{datum,jdbcType=VARCHAR},
      ZDATE = #{zdate,jdbcType=VARCHAR},
      USRID_4 = #{usrid4,jdbcType=VARCHAR},
      RACKY = #{racky,jdbcType=VARCHAR},
      PCODE = #{pcode,jdbcType=VARCHAR},
      DAT02 = #{dat02,jdbcType=VARCHAR},
      ZGCLB = #{zgclb,jdbcType=VARCHAR},
      ORGEH_4 = #{orgeh4,jdbcType=VARCHAR},
      ORGEH_5 = #{orgeh5,jdbcType=VARCHAR},
      ORGEH_6 = #{orgeh6,jdbcType=VARCHAR},
      NATIO = #{natio,jdbcType=VARCHAR},
      AUTH1 = #{auth1,jdbcType=VARCHAR},
      POSSC = #{possc,jdbcType=VARCHAR},
      TERMN = #{termn,jdbcType=VARCHAR},
      RUFNM = #{rufnm,jdbcType=VARCHAR},
      BEZEI = #{bezei,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>